{% extends 'UebUebOfThingsBundle::layout.html.twig' %}

{% block javascripts %}
    {{parent()}}
{% endblock %}

{% block content -%}

    <h1>Login</h1>
    
    {{ wo_render_breadcrumbs() }}
    
    {% if error %}
        
        <div class="alert alert-dismissable alert-danger">
            <button type="button" class="close" data-dismiss="alert">×</button>
            {{ error.message }}
        </div>
    {% else %}
        <div class="alert alert-dismissable alert-info"> Insira os seus dados </div>
    {% endif %}
    
    <form action="{{ path('login_check') }}" method="post">
        <div class="form-group">
            <label for="inputEmail">Utilizador</label>
            <input type="text" class="form-control" id="username" name="_username" placeholder="Utilizador">
        </div>
        <div class="form-group">
            <label for="inputPassword">Palavra-Passe</label>
            <input type="password" class="form-control" id="password" name="_password" placeholder="Palavra-Passe">
        </div>
        <div class="checkbox">
            <label><input type="checkbox"> Lembrar-me</label>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>

    
{% endblock %}