<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{{ path("homepage") }}">Ueb Of Things</a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav side-nav">
            <li><a href="{{ path("homepage") }}"><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-ticket"></i> Things / Feeds <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="{{ path("feeds") }}"><i class="fa fa-bars"></i> Todos</a></li>
                    <li><a href="{{ path("feedgroup") }}"><i class="fa fa-th-list"></i> Grupos</a></li>
                </ul>
            </li>
            <li><a href="{{ path("board") }}"><i class="fa fa-cogs"></i> Boards</a></li>
            <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa fa-angle-double-down"></i> Advanced <b class="caret"></b></a>
            
                <ul class="dropdown-menu">
                    <li><a href="#"><i class="fa fa-code"></i> Code-Blocks</a></li>
                </ul>
            </li>
        </ul>

        <ul class="nav navbar-nav navbar-right navbar-user">
            {% if app.user %}
                {{ render( controller (
                    'UebUebOfThingsBundle:Navigation:userMenu'
                )) }}
            {% else %}
                <li><a href="{{ path("login") }}" ><i class="fa-sign-in"></i> Login </a></li>
            {% endif %}<!--
            <li class="dropdown alerts-dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i> Alertas <span class="badge">3</span> <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    
                    <li><a href="#">Default <span class="label label-default">Default</span></a></li>
                    
                    <li class="divider" id="divider_alerts"></li>
                    <li><a href="#">View All</a></li>
                </ul>
            </li>
            <li class="dropdown user-dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> John Smith <b class="caret"></b></a>
                <ul class="dropdown-menu">
                    <li><a href="#"><i class="fa fa-user"></i> Profile</a></li>
                    <li><a href="#"><i class="fa fa-envelope"></i> Inbox <span class="badge">7</span></a></li>
                    <li><a href="#"><i class="fa fa-gear"></i> Settings</a></li>
                    <li class="divider"></li>
                    <li><a href="#"><i class="fa fa-power-off"></i> Log Out</a></li>
                </ul>
            </li>-->
        </ul>
    </div><!-- /.navbar-collapse -->
</nav>