{% extends 'UebUebOfThingsBundle::layout.html.twig' %}

{% block javascripts %}
    {{parent()}}
{% endblock %}

{% block content -%}
    
<h1>Definições</h1>

{{ wo_render_breadcrumbs() }}

<div class="panel panel-info">
    <div class="panel-heading">
        <h4> Informação Pessoal </h4>
    </div>
    <div class="panel-body">
        {{ form(form) }}
    </div>
</div>

{{ form(form) }}

{% endblock %}