<li class="dropdown alerts-dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i> Alertas {{ badge(user.notifications|length) }} <b class="caret"></b></a>
    <ul class="dropdown-menu" id="user-notifications-dropdown">

        {% for notification in user.notifications %}
            <li><a href="{{ path("feed_show", {'id': notification.feeddata.feed.id }) }}">
                    {{notification.feeddata.feed.name}} 
                    {% if notification.typeToString == "warning" %}
                        <span class="label label-warning">
                        {% elseif notification.typeToString == "critical" %}
                            <span class="label label-danger">
                            {% endif %}
                            {{ notification.feeddata.value }} {{ notification.feeddata.feed.measureunit }}
                        </span>
                </a></li>
            {% endfor %}
        <!--<li><a href="#">Default <span class="label label-default">Default</span></a></li>-->

        <li class="divider" id="divider_alerts"></li>
        <li><a href="#" onClick="cleanAlerts('{{path("clean_notifications")}}');">Limpar Alertas</a></li>
    </ul>
</li>
<li class="dropdown user-dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> {{ user.username }} <b class="caret"></b></a>
    <ul class="dropdown-menu">
        <li><a href="{{path("user_settings")}}"><i class="fa fa-gear"></i> Definições</a></li>
        <li class="divider"></li>
        <li><a href=" {{path("logout") }}"><i class="fa fa-power-off"></i> Log Out</a></li>
    </ul>
</li>
