Feed {{ message.feed_name }} com valor {% if message.notification_type == "warning" %} de alarme {% else %} crítico! {% endif%}

Valor: {{ message.value }} {{ message.measure }}

URL:
{{ message.feed_url }}