<!DOCTYPE html>
<html>
    <head>
        <title>Ueb Of Things</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% block stylesheets %}
            {% stylesheets 'css/bootstrap.css'
                'bundles/uebuebofthings/css/sb-admin.css' 
                'bundles/uebuebofthings/font-awesome/css/font-awesome.css'
                filter='cssrewrite' %}
            <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}

        <!-- HTML5 Shim and Respond.js add IE8 support of HTML5 elements and media queries -->
        {% include 'BraincraftedBootstrapBundle::ie8-support.html.twig' %}

    </head>

    <body>
        <!-- jQuery (necessary for Bootstraps JavaScript plugins) -->
        <script src="{{ asset('js/jquery.js') }}"></script>
        <!-- Include all JavaScripts, compiled by Assetic -->
        <script src="{{ asset('js/bootstrap.js') }}"></script>
        
        
        
        {% block javascripts %}
            
            {% javascripts 
            '@UebUebOfThingsBundle/Resources/public/js/functions.js'
            '@UebUebOfThingsBundle/Resources/public/js/rtclient.js' %}

            <script type="text/javascript" src="{{ asset_url }}"></script>

            {% endjavascripts %}
            
            
            <script type="text/javascript">
                var _CLANK_URI = "ws://{{ clank_host }}:{{ clank_port }}";
            </script>
            
        {% endblock %}

        <div id="wrapper">

            {{ render(controller('UebUebOfThingsBundle:Navigation:renderNavBar')) }}
            <div id="page-wrapper">

                {% block content %}
                {% endblock %}

            </div>
        </div>

        {{ clank_client() }}
    </body>
</html>
