{% extends 'UebUebOfThingsBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent () }}
    {% stylesheets 'bundles/uebuebofthings/css/style.css' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{parent()}}
    {% javascripts '@UebUebOfThingsBundle/Resources/public/js/tablesorter/*'%}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block content -%}
    <h1>Grupos de Feeds</h1>
    {{ wo_render_breadcrumbs() }}

    {% if entities %}
        <div id="accordion" class="panel panel-group">
            {% for entity in entities %}
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h4>
                            <a href="#collapseOne" data-parent="#accordion" data-toggle="collapse" class="collapsed">
                                {{ entity.name }}
                            </a>
                            <a href="{{ path("feedgroup_edit", {'id': entity.id}) }}" class="h6 h6right "> 
                                Editar
                            </a>
                        </h4>
                            
                    </div>
                    <div class="panel-collapse collapse" id="collapseOne" style="height: 0px;">
                        <div class="panel-body">
                            {{ include(
                'UebUebOfThingsBundle:FeedGroup:show.html.twig',
                { 'entity': entity }
            ) }}
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
    {% else %}
        Não existem grupos disponíveis.
    {% endif%}
    
    <div class="col-lg-1 text-center"> 
        <input type="button" value="Novo Grupo" onClick="window.location.href = '{{ path('feedgroup_new') }}'" class="btn btn-primary">   
    </div>

{% endblock %}
