{% extends 'UebUebOfThingsBundle::layout.html.twig' %}

{% block javascripts %}
    {{parent()}}
    
{% endblock %}

{% block content -%}
    <h1>FeedGroup creation</h1>
    {{ wo_render_breadcrumbs() }}

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('feedgroup') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
