
<div class="table-responsive">
    <table class="table table-bordered table-hover table-striped tablesorter">
        <thead>
            <tr>
                <th class="header">Nome <i class="fa fa-sort"></i></th>
                <th class="header">Valor Alarme <i class="fa fa-sort"></i></th>
                <th class="header">Valor Crítico <i class="fa fa-sort"></i></th>
                <th class="header headerSortDown">Valor Atual <i class="fa fa-sort"></i></th>
            </tr>
        </thead>
        <tbody>
            {% for feed in entity.feeds %}
                <tr>
                    <td><a href="{{ path('feed_show', { 'id': feed.id }) }}">{{ feed.name }}</a></td>
                    <td>{{ feed.warningvalue }} {{ feed.measureunit }}</td>
                    <td>{{ feed.criticalVaue }} {{ feed.measureunit }}</td>
                    <td>
                        {% if feed.currentdata is null %}
                            -
                        {% else %}
                            {{ feed.currentdata.value}} {{ feed.measureunit}}
                         {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>



