{% extends 'UebUebOfThingsBundle::layout.html.twig' %}

{% block javascripts %}
    {{parent()}}
{% endblock %}

{% block content -%}
    <h1>Editar Feed</h1>
    {{ wo_render_breadcrumbs() }}
    
    {{ form(edit_form) }}
    

        
    <li>
        <a href="{{ path('feeds') }}">
            Back to the list
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>

{% endblock %}
