{
    "period": "{{period}}",
    "measureunit": "{{feed.measureunit}}",
    "data": [
    {% if feed.data is defined %}
    {% for data in feed.data %}
        {
            "time": "{{ data.time|date('Y-m-d H:i:s') }}",
            "value": "{{ data.value }}"
        }{% if loop.last == false %},{% endif %}
    {% endfor %}
    {% endif %}
    ],
    "last_value": {% if last_value is not null %} "{{ last_value.value }}" {% else %} "" {% endif %}
}