{% extends 'UebUebOfThingsBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent () }}
    {% stylesheets 'bundles/uebuebofthings/css/datatables.css' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{parent()}}
    {% javascripts 
    '@UebUebOfThingsBundle/Resources/public/js/datatables/jquery.dataTables.js' 
    '@UebUebOfThingsBundle/Resources/public/js/datatable.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block content -%}
    <h1>Feeds</h1>
    {{ wo_render_breadcrumbs() }}


    <div class="panel panel-info">
        <div class="panel-heading">
            <h4>Sensores</h4>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table id="datatable1" class="table table-striped table-bordered no-footer">
                    <thead>
                        <tr>
                            <th>Nome <i class="fa fa-sort"></i></th>
                            <th>Grupo <i class="fa fa-sort"></i></th>
                            <th>Valor Atual <i class="fa fa-sort"></i></th>
                            <th>Valor Alarme <i class="fa fa-sort"></i></th>
                            <th>Valor Crítico <i class="fa fa-sort"></i></th>
                            <th>Placa <i class="fa fa-sort"></i></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for entity in sensors %}
                            <tr>
                                <td><a href="{{ path('feed_show', { 'id': entity.id }) }}">{{ entity.name }}</a></td>
                                {% if entity.group %}
                                    <td>{{entity.group}}</td>
                                {% else %}
                                    <td>-</td>
                                {% endif %}
                                {% if entity.currentdata is null %}
                                    <td>-</td>
                                {% else %}
                                    <td>{{ entity.currentdata.value}} {{ entity.measureunit}}</td>
                                {% endif %}
                                <td>{{ entity.warningValue }} {{ entity.measureunit }}</td>
                                <td>{{ entity.criticalVaue }} {{ entity.measureunit }}</td>
                                {% if entity.board %}
                                    <td>{{ entity.board.name }}</td>
                                {% else %}
                                    <td>Sem placa associada</td>
                                {% endif %}
                                <td><a href="{{ path('feed_show', { 'id': entity.id }) }}"><i class="fa fa-chevron-circle-right"> Mais</i></a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
                    
    <div class="panel panel-info">
        <div class="panel-heading">
            <h4>Actuadores</h4>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table id="datatable2" class="table table-striped table-bordered no-footer">
                    <thead>
                        <tr>
                            <th>Nome <i class="fa fa-sort"></i></th>
                            <th>Grupo <i class="fa fa-sort"></i></th>
                            <th>Valor Atual <i class="fa fa-sort"></i></th>
                            <th>Placa <i class="fa fa-sort"></i></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for entity in actuators %}
                            <tr>
                                <td><a href="{{ path('feed_show', { 'id': entity.id }) }}">{{ entity.name }}</a></td>
                                {% if entity.group %}
                                    <td>{{entity.group}}</td>
                                {% else %}
                                    <td>-</td>
                                {% endif %}
                                {% if entity.currentdata is null %}
                                    <td>-</td>
                                {% else %}
                                    <td>{{ entity.currentdata.value}} {{ entity.measureunit}}</td>
                                {% endif %}
                                {% if entity.board %}
                                    <td>{{ entity.board.name }}</td>
                                {% else %}
                                    <td>Sem placa associada</td>
                                {% endif %}
                                <td><a href="{{ path('feed_show', { 'id': entity.id }) }}"><i class="fa fa-chevron-circle-right"> Mais</i></a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>                



    <div class="col-lg-1 text-center"> 
        <input type="button" value="Novo Feed" onClick="window.location.href = '{{ path('feed_new') }}'" class="btn btn-primary">   
    </div>
{% endblock %}
