{% extends 'UebUebOfThingsBundle::layout.html.twig' %}

{% block javascripts %}
    {{parent()}}
    {% javascripts '@UebUebOfThingsBundle/Resources/public/js/feedform.js'%}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block content -%}
    <h1>Criar Feed</h1>
    {{ wo_render_breadcrumbs() }}

    
    {{ form_start(form) }}
        {{ form_row(form.name) }}
        {{ form_row(form.mac) }}
        {{ form_row(form.measureunit) }}
        {{ form_row(form.board) }}
        {{ form_row(form.thing) }}
        
    {{ form_end(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('feeds') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
