{% extends 'UebUebOfThingsBundle::layout.html.twig' %}

{% block javascripts %}
    {{parent()}}
    {% javascripts 
    '@UebUebOfThingsBundle/Resources/public/js/flot/jquery.flot.js'
    '@UebUebOfThingsBundle/Resources/public/js/flot/jquery.flot.resize.js'
    '@UebUebOfThingsBundle/Resources/public/js/flot/jquery.flot.tooltip.min.js'
    '@UebUebOfThingsBundle/Resources/public/js/flot/jquery.flot.time.js'
    '@UebUebOfThingsBundle/Resources/public/js/flot/jquery.flot.navigationControl.js'
    '@UebUebOfThingsBundle/Resources/public/js/feed.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    
    {% endjavascripts %}
    <script type="text/javascript">
        var ajax_url = "{{path('feed_data', {'id': entity.id, 'format': 'json', 'period': 'hour'})}}";

        $(document).ready(function() {

            $("#select_period").change(function() {


                switch ($("select option:selected").val()) {
                    case 'h':
                        ajax_url = "{{path('feed_data', {'id': entity.id, 'format': 'json', 'period': 'hour'})}}";
                        GetData();
                        break;
                    case 'd':
                        ajax_url = "{{path('feed_data', {'id': entity.id, 'format': 'json', 'period': 'day'})}}";
                        GetData();
                        break;
                    case 'w':
                        ajax_url = "{{path('feed_data', {'id': entity.id, 'format': 'json', 'period': 'week'})}}";
                        GetData();
                        break;
                    case 'm':
                        ajax_url = "{{path('feed_data', {'id': entity.id, 'format': 'json', 'period': 'month'})}}";
                        GetData();
                        break;
                    default:
                        break;
                }

            });

        });

    </script>
{% endblock %}



{% block content -%}
   
    <h1>{{ entity.name }}</h1>
    {{ wo_render_breadcrumbs() }}

    <div class="panel panel-info">
        <div class="panel-heading">
            <h4>Visão Geral</h4>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-lg-6">
                    <table class="record_properties">
                        <tbody>
                            <tr>
                                <th>Nome</th>
                                <td>{{ entity.name }}</td>
                            </tr>
                            <tr>
                                <th>Grupo</th>
                                <td>{{ entity.group }}</td>
                            </tr>
                            <tr>
                                <th>Mac</th>
                                <td>{{ entity.mac }}</td>
                            </tr>
                            {# Check if is Sensor (ThingType = 0 for sensor, 1 for actuator) #}
                            {% if entity.typeOfThing == 0 %}
                            <tr>
                                <th>Valor de Alarme</th>
                                <td>{{ entity.warningValue }}</td>  
                            </tr>
                            <tr>
                                <th>Valor Critico</th>
                                <td>{{ entity.criticalVaue }}</td>
                            </tr>
                            {% endif %}
                            <tr>
                                <th>Unidade de Medida   </th>
                                <td>{{ entity.measureunit }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-lg-6 text-right">
                    <h3>Valor Atual</h3>
                    <h4 id="last_value">
                        {% if entity.currentdata is null %}
                            -
                        {% else %}
                            {{ entity.currentdata.value}} {{ entity.measureunit}}
                        {% endif %}
                    </h4>
                </div>
            </div>
        </div>
    </div>

                            
    <div class="panel panel-info">
        <div class="panel-heading">
            <div class="row">
                <h3 class="col-lg-6 panel-title"><i class="fa fa-bar-chart-o"></i> {{ entity.name }} - Histórico Valores {{entity.measureunit}}</h3>
                <div class="col-lg-3 text-right" id="loading"> 
                    <button class="btn btn-default" onclick="GetData()" type="button">
                        Refresh
                        <i class="fa fa-refresh"></i>
                    </button>

                </div>
                <div class="col-lg-3 text-right">

                    <select id="select_period" class="form-control">
                        <option select="selected" value="h">Hora</option>
                        <option value="d">Dia</option>
                        <option value="w">Semana</option>
                        <option value="m">Mes</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="flot-chart">
                <div class="flot-chart-content" id="flot-chart-line" style="padding: 0px; position: relative;"></div>
            </div>
        </div>
    </div>
    


    <ul class="record_actions">
        <li>
            <a href="{{ path('feeds') }}">
                Back to the list
            </a>
        </li>
        <li>
            <a href="{{ path('feed_edit', { 'id': entity.id }) }}">
                Edit
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>
{% endblock %}
