{% extends 'UebUebOfThingsBundle::layout.html.twig' %}

{% block javascripts %}
    {{parent()}}
{% endblock %}

{% block content -%}
    <h1>Editar Placa</h1>
    {{ wo_render_breadcrumbs() }}
    {{ form_start(edit_form) }}
    {{ form_errors(edit_form) }}

    {{ form_row(edit_form.name) }}
    {{ form_row(edit_form.description) }}
    {{ form_row(edit_form.arduino) }}
    {{ form_row(edit_form.type, {'label': 'Tipo'}) }}
    {{ form_row(edit_form.submit, { 'label': 'Guardar' }) }}
    {{ form_end(edit_form) }}

    <ul class="record_actions">
        <li>
            <a href="{{ path('board') }}">
                Voltar
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
