{% extends 'UebUebOfThingsBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent () }}
    {% stylesheets 'bundles/uebuebofthings/css/datatables.css' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{parent()}}
    {% javascripts 
    '@UebUebOfThingsBundle/Resources/public/js/datatables/jquery.dataTables.js' 
    '@UebUebOfThingsBundle/Resources/public/js/datatable.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}


{% block content -%}
    <h1>Boards</h1>
    {{ wo_render_breadcrumbs() }}

    <div class="panel panel-info">
        <div class="panel-heading">
            <h4>Default</h4>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table id="datatable" class="table table-striped table-bordered no-footer">
                    <thead>
                        <tr>
                            <th>Nome <i class="fa fa-sort"></i></th>
                            <th>Descrição <i class="fa fa-sort"></i></th>
                            <th>Arduino <i class="fa fa-sort"></i></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for entity in defaults %}
                            <tr>
                                <td><a href="{{ path('board_show', { 'name': entity.name }) }}">{{ entity.name }}</a></td>
                                <td>{{ entity.description }}</td>
                                <td>{{ entity.arduino }}</td>
                                <td><a href="{{ path('board_show', { 'name': entity.name }) }}"><i class="fa fa-chevron-circle-right"> Mais</i></a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="panel panel-info">
        <div class="panel-heading">
            <h4>ISP</h4>
        </div>
        <div class="panel-body">
            <div class="table-responsive">
                <table id="datatable" class="table table-striped table-bordered no-footer">
                    <thead>
                        <tr>
                            <th>Nome <i class="fa fa-sort"></i></th>
                            <th>Descrição <i class="fa fa-sort"></i></th>
                            <th>Arduino <i class="fa fa-sort"></i></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for entity in isps %}
                            <tr>
                                <td><a href="{{ path('board_show', { 'name': entity.name }) }}">{{ entity.name }}</a></td>
                                <td>{{ entity.description }}</td>
                                <td>{{ entity.arduino }}</td>
                                <td><a href="{{ path('board_show', { 'name': entity.name }) }}"><i class="fa fa-chevron-circle-right"> Mais</i></a></td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-lg-1 text-center"> 
        <input type="button" value="Novo" onClick="window.location.href = '{{ path('board_new') }}'" class="btn btn-primary">   
    </div>



{% endblock %}
