{% extends 'UebUebOfThingsBundle::layout.html.twig' %}

{% block javascripts %}
    {{parent()}}
{% endblock %}

{% block content -%}
    <h1>Nova Placa</h1>
    {{ wo_render_breadcrumbs() }}
    {{ form_start(form) }}
    {{ form_errors(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.description) }}
    {{ form_row(form.arduino) }}
    {{ form_row(form.type, {'label': 'Tipo'}) }}
    {{ form_row(form.submit, {'label': 'Criar'}) }}
    {{ form_end(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('board') }}">
            Voltar
        </a>
    </li>
</ul>
{% endblock %}
