{% extends 'UebUebOfThingsBundle::layout.html.twig' %}

{% block stylesheets %}
    {{ parent () }}
    {% stylesheets 'bundles/uebuebofthings/codemirror/lib/codemirror.css' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{parent()}}
    {% javascripts 
    '@UebUebOfThingsBundle/Resources/public/js/postForm.js'
    '@UebUebOfThingsBundle/Resources/public/codemirror/lib/codemirror.js' 
    '@UebUebOfThingsBundle/Resources/public/codemirror/mode/clike/clike.js'
    '@UebUebOfThingsBundle/Resources/public/js/board_program.js' %}
    
    <script type="text/javascript" src="{{ asset_url }}"></script>
    
    {% endjavascripts %}
{% endblock %}

{% block content -%} 
    <h1>Programar {{ board.name }}</h1>
    {{ wo_render_breadcrumbs() }}
    
    <div class="alert alert-dismissable alert-warning">
    <button data-dismiss="alert" class="close" type="button">×</button>
    <h4>Aviso Importante!</h4>
    <p>Encontra-se numa funcionalidade avançada! </p>
    <p>Está a ver o código-fonte da implentação da placa <b>{{ board.name }}</b>, pelo que qualquer alteração modificará o seu funcionamento.  </p>
  </div>
    
    {{ form(form, {'action': path('board_upload', {'name': board.name}), 'method': 'POST'}) }}
    <div id="output"></div>
{% endblock %}
