{% extends 'UebUebOfThingsBundle::layout.html.twig' %}

{% block javascripts %}
    {{parent()}}
    {% javascripts '@UebUebOfThingsBundle/Resources/public/js/tablesorter/*' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block content -%}
    <h1>{{ entity.name }}</h1>
    {{ wo_render_breadcrumbs() }}
    
    <div class="panel panel-info">
        <div class="panel-heading">
            <h4>Visão Geral</h4>
        </div>
        <div class="panel-body">
            <table class="record_properties">
                <tbody>
                    <tr>
                        <td>{{ entity.description }}</td>
                    </tr>
                    <tr>
                        <td><strong>Arduino</strong> - {{ entity.arduino }}</td>
                    </tr>
                    <tr>
                        <td><strong>Tipo de placa</strong> - {{ entity.type }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    

    {% if entity.type == "Default" %}
        <div class="table-responsive">
            {% if entity.feeds.count != 0 %}
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h4>Feeds Associados</h4>
                    </div>
                    <div class="panel-body">
                        <table class="table table-bordered table-hover table-striped tablesorter">
                            <thead>
                            <th>Nome <i class="fa fa-sort"></i></th>
                            <th>Mac <i class="fa fa-sort"></i></th>
                            <th></th>
                            </thead>
                            <tbody>
                                {% for feed in entity.feeds %}
                                    <tr>
                                        <td><a href="{{ path('feed_show', {'id': feed.id})}}">{{ feed.name }}</a></td>
                                        <td>{{ feed.mac }}</td>
                                        <td><a href="#">Definições <i class="fa fa-cog"></i></a></td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                
                
            {% else %}
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <h4>Sem feeds associados</h4>
                    </div>
                    <div class="panel-body">
                        <a href="{{ path('feeds')}}"> Ver Feeds </a>
                    </div>
                </div>
            {% endif %}
        </div>
    {% endif %}


    <div class="row">
        <div class="col-lg-1 text-center">
            <input type="button" value="Voltar" onClick="window.location.href = '{{ path('board') }}'" class="btn btn-default">
        </div>
        <div class="col-lg-1 text-center">
            <input type="button" value="Editar" onClick="window.location.href = '{{ path('board_edit', { 'name': entity.name }) }}'" class="btn btn-primary">   
        </div>
        {% if entity.type == "Default" %}
        <div class="col-lg-1 text-center"> 
            <input type="button" value="Programar" onClick="window.location.href = '{{ path('board_program', { 'name': entity.name }) }}'" class="btn btn-warning">   
        </div>
        {% endif %}

        <div class="col-lg-1 text-center">
            {{ form_start(delete_form) }}

            {{ form_row(delete_form.submit, { 'label': 'Eliminar', 'attr': {'class': 'btn btn-danger'} }) }}
            {{ form_end(delete_form) }}
        </div>
    </div>

{% endblock %}
